@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    background-color: blanchedalmond;
}
.az,.ru,.en{
    text-align: end;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    width: 30px;
}
.az{
    margin-left: 93%;
}
.main{
    border: 1px solid black;
    border-radius: 10px;
    width: 336px;
    margin: 230px auto;
    background-color: white;
}
.yellow-part{
    width: 336px;
    height: 28px;
    background-color: #FFDC40;
    border-radius: 10px 10px 0 0;
}
.title{
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    text-align: center;
}
.photo{
    margin: 1px 280px;
}
.photo1{
    margin: 1px 280px;
    display: none;
}
.photo,.photo1,span:hover{
    cursor: pointer;
}
.enter{
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    width: 286px;
    margin: auto;
    display: flex;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    justify-content: space-between;
    display: flex;
    font-family: "Roboto", sans-serif;
}
.list{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 10px 0;
}
.img{
    position: relative;
    top: 15px;
    left: -25px;
}  
.input{
    display: none;
    border-color: black;
    border-radius: 5px;
    margin-left: 77px;
    margin-bottom: -17px;
}
.add{
    width: 150px;
    height: 42px;
    background-color: #833AE0;
    border-radius: 71px;
    margin: 18px auto;
    display: flex;
}
.add-sign:hover{
    cursor: pointer;
}
.add-sign{
    width: 42px;
    height: 42px;
    background-color: #9953F1;
    border-radius: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-sign p{
    color: white;
}
.text{
    color: white;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: auto;
}
.text:hover{
    cursor: pointer;
}